body{
    background-color: rgb(192, 255, 255);
    font-style:verdana;
}
.div1{
    margin: 0 20% 0 20%;
    text-align: center;
}
.div2{
    margin: 0 20% 0 20%;
    text-align: center;
    font-size: 27px;
}