body{
    background-color: rgb(59, 222, 195);
    font-style:verdana;
    font-size: 25px;   
}
h1{
    color: rgb(165, 42, 77);
}
.nave{
    list-style: none;
    border: 2px solid rgb(0, 0, 0);
    display: inline;
    padding: 10px;
    background-color:rgb(165, 42, 77) ;
     margin: 0 5px 0 5px;
     
}

.botones{
text-decoration: none;
color:  white;
background-color:rgb(165, 42, 77) ;
}
.div1{
    margin: 0 25% 0 25%;
    text-align: center; 
}

.div2{
    background-color: rgb(165, 42, 77);
    text-align: center;
    font-size: 27px;
    width: 12%;
    height: 6%;
    border-radius: 5px;
    border: solid black 2px;   
}
.div3{
    background-color: rgb(165, 42, 77);
    text-align: center;
    font-size: 27px;
    width: 12%;
    height: 6%;
    border-radius: 5px;
    border: solid black 2px;   
}
.div4{
    margin: 2% 20% 0 20%;
    text-align: center;
    font-size: 27px;
}
img{
    width: 20%;
    display: block;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
