body{
    background-color: rgb(59, 222, 195);
    font-style:verdana;
    font-size: 20px;   
}
h1{
    color: rgb(165, 42, 77);
}
.div1{
    margin: 0 25% 0 25%;
    text-align: center; 
}
.div2{
    margin: 0% 20% 0% 20%;
    text-align: center;
    font-size: 27px;
}
.div3{
    margin: 2% 20% 0 20%;
    text-align: center;
    font-size: 27px;
}
.div4{

}
img{
    width: 20%;
    display: block;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}